* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 90%;
  margin: auto;
}

.scontainer {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
}
.flex2{
  display: flex;
  margin-top: -100px;
  margin-left: 160px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

/*----------header--------*/
nav {
  height: 10vh;
  line-height: 10vh;
  background: white;
  text-align: center;
}

.logo img {
  margin-top: 20px;
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav li a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  transition: 0.5s;
}

nav li a:hover {
  color: #37B234;
}

.media_button i {
  font-size: 20px;
  display: none;
}

.account i {
  color: #37B234;
  margin: 30px 20px 0 0;
}

@media only screen and (max-width:768px) {
  .main_list {
    overflow: hidden;
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 10%;
    padding: 0 0 0 40px;
    transition: 0.5s;
  }

  nav .show_list {
    height: 250px;
    background: white;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li a {
    line-height: 40px;
    display: table;
  }

  .media_button i {
    display: block;
    margin-top: 20px;
    background: #37b234;
    padding: 10px;
    color: white;
    cursor: pointer;
  }

  .account {
    display: none;
  }
}

.left {
  width: 850px;
  justify-self: center;
  margin-top: 55px;
  /* text-align: center; */
  margin-left: 100px;
}

.right {
  width: 65%;
  overflow-x: hidden;
}

button {
  padding: 15px 50px;
  margin: 20px 20px 0 0;
  border-radius: 50px;
  border: none;
  background: #37B234;
  color: white;
}

.btn1 {
  border: 2px solid white;
  cursor: pointer;
}

.btn2 {
  background: #999;
  cursor: pointer;
  color: #333;
}

.home {
  position: relative;
  color: #333;
}

.home .left {
  padding: 100px 0 0 px;
}

.home .right {
  margin-top: 100px;
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  background-image: url('../image/slide.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
  z-index: -1;
}

.time_box {
  margin: 0 50px 0 0;
  border: 1px solid #333;
  padding: 20px;
  border-radius: 10px;
}

.time_box h1 {
  font-size: 50px;
  margin-left: 10px;
}

.time_box span {
  font-size: 14px;
  margin-left: 15px;
}

.home h2 {
  font-size: 50px;
  margin: 20px 0 20px 0;
}

/*----------home--------*/
/*----------latest--------*/
.top {
  margin-top: 100px;
}

.mtop {
  margin-top: 50px;
}

.heading {
  text-align: center;
  position: relative;
  margin-bottom: 120px;
}

.heading h1 {
  font-size: 40px;
  font-weight: 400;
}

.heading button {
  padding: 15px 80px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 42%;
  font-size: 15px;
}

.heading .lines {
  position: relative;
  width: 100%;
}

.heading .line {
  border: 1px solid #e3e3e3;
  width: 45%;
  height: 3px;
  border-left: none;
  position: absolute;
  left: 0;
  top: 43px;
  z-index: 1;
}

.heading .line i {
  position: absolute;
  right: -1px;
  top: -7px;
  color: white;
}

.heading .line2 {
  right: 0;
  left: 59%;
  border-radius: none;
}

.heading .line2 i {
  left: -100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.latest .scontainer {
  padding: 50px;
  text-align: center;
}

.latest .box {
  background: #f9f9f9;
  padding: 30px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  transition: 0.5s;
}

.latest .box:hover {
  border: 1px solid #37B234;
  cursor: pointer;
}

.latest .img {
  position: relative;
}

.latest .img .flex1 {
  width: 100%;
  position: absolute;
  top: 0;
}

.latest .img label {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  color: white;
  background: #37B234;
  text-align: center;
}

.latest .img i {
  color: #37B234;
  font-size: 20px;
  line-height: 50px;
}

.latest .detalis h2 {
  font-weight: 400;
  color: #37B234;
  margin: 20px 0 20px 0;
}

.latest .detalis h2 span {
  text-decoration: line-through;
  font-size: 14px;
  color: grey;
}

.latest .detalis button {
  margin: 0;
  margin-top: 20px;
}

/*----------latest--------*/
/*----------slider--------*/
ul {
  list-style: none;
}

.slider {
  background: #37B234;
  padding: 80px 0 0 0;
  color: white;
}

.slider p {
  font-size: 20px;
}

.slider h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

.slider ul li {
  font-size: 22px;
  opacity: 0.8;
  margin-top: 15px;
  white-space: 5px;
}

.slider h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 40px 0 30px 0;
}

.owl-nav .owl-prev i,
.owl-nav .owl-next i {
  position: absolute;
  top: 35%;
  cursor: pointer;
  font-size: 50px;
}

.owl-nav .owl-prev i {
  left: -33px;
}

.owl-nav .owl-next i {
  right: -33px;
}

.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover {
  color: #71ec6e;
}

/*----------slider--------*/
/*----------Popular--------*/
.Popular {
  color: black;
}

.Popular.latest {
  background: none;
}

/*----------Popular--------*/
/*----------wrapper--------*/
.wrapper {
  background-image: url("../image/back.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper1 {
  background-image: url("../image/back.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(55, 179, 52, 0.83);
}

.wrapper1 .scontainer {
  position: relative;
  z-index: 1;
}

.wrapper1 .text {
  padding: 100px 50px;
  color: white;
}

.wrapper1 h1 {
  font-size: 40px;
  margin: 20px 0 20px 0;
  font-weight: 400;
}

.wrapper1 h3 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}
.wrapper2  {
  background-image: url("../image/p2.jpg");
  background-size: cover;
  height: 110vh;
  width: 100%;
  text-align: center;
  position: relative;
}

.wrapper2::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  background: rgba(50, 170, 52, 0.85);
}

.wrapper2 .scontainer {
  position: relative;
  z-index: 1;
}

.wrapper2 .text {
  padding: 100px 50px;
  color: white;
}

.wrapper2 h1 {
  font-size: 40px;
  margin: 20px 0 20px 0;
  font-weight: 400;
}

.wrapper2 h3 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(55, 179, 52, 0.83);
}

.wrapper .scontainer {
  position: relative;
  z-index: 1;
}

.wrapper .text {
  padding: 100px 50px;
  color: white;
}

.wrapper h1 {
  font-size: 40px;
  margin: 20px 0 20px 0;
  font-weight: 400;
}

.wrapper h3 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}

/*----------wrapper--------*/
/*----------Assesories--------*/
.Assesories {
  margin-top: 25%;
}

/*----------Assesories--------*/
/*----------shipping--------*/
.shipping {
  padding: 50px;
  background: #37B234;
  color: white;
}

.shipping .img {
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  padding: 30px;
}

.shipping i {
  font-size: 20px;
}

.shipping h3 {
  font-weight: 400;
  margin-bottom: 10px;
}

.shipping p {
  opacity: 0.8;
  line-height: 20px;
}

/*----------shipping--------*/
/*----------footer--------*/
footer {
  background: black;
}

footer .scontainer {
  padding: 70px 50px;
  color: white;
}

footer h3 {
  margin: 30px 0 20px 0;
}

footer h1 {
  color: white;
  margin: 15px 0 10px 0;
}

footer li,
footer p {
  margin: 15px 0 10px 0;
  color: grey;
}

footer input {
  padding: 10px;
  background: none;
  border: none;
}

footer .input {
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}

footer .input i {
  margin: 15px;
}

footer .social_media i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid grey;
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  color: grey;
}

/*----------footer--------*/
@media only screen and (max-width:768px) {

  /*----------home--------*/
  .home .content {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .home .left {
    padding: 50px 100px 50px 50px;
  }

  .home::after {
    background-size: cover;
    height: 70vh;
  }

  .ani_image img {
    width: 100%;
    height: 100%;
  }

  .inner {
    margin-top: -1000px;
    position: absolute;
  }

  .left {
    width: 679px;
  }


  .left .small {
  width: 640px;
  font-size: 22px;
  }

  .left .small1 {
    font-size: 30px;
    font-weight: bold;
  
  
  }

  /*----------home--------*/
  /*----------latest--------*/
  .heading button {
    left: 30%;
  }

  .heading .line {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .latest .scontainer {
    padding: 0;
  }

  .latest .box {
    padding: 10px;
  }

  /*----------latest--------*/
  /*----------slider--------*/
  .slider .item {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  /*----------slider--------*/
  .shipping .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width:613px) {
  .home::after {
    height: 100vh;
  }

  .time_box {
    display: none;
  }
  .ani_image1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .heading h1 {
    font-size: 35px;
  }

  .heading button {
    left: 20%;
  }

  footer .scontainer,
  .latest .scontainer {
    padding: 0;
  }

  .shipping {
    padding: 50px 0 50px 0;
  }
}

.logo1 {
  position: absolute;
  display: flex;
  margin-top: -70px;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.inner {
  width: 900px;
  height: 300px;
  color: #222;
  padding: 15px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 260px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  margin-top: 100px;
}

.left .small1 {
  font-weight: bolder;
  font-size: 39px;
  margin-top: -20px;
}

.left .small {
  font-size: 22px;
  letter-spacing: 0.2px;
}

.services{
  color: #333;
  text-align: center;
}

.services p {
  font-size: 15px;
  font-weight: bold;
}

.content-sv {
  color: #333;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-top: 20px;
  width: 900px;
  border: 3px solid #333;
  border-radius: 20px;
  padding: 25px;
  background: url(../image/p5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.content-sv span{
  font-size: 19px;
  font-weight: 500;
  font-family: 'Times New Roman';
  word-spacing: 2.5px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 650px;
  margin-top: 50px;
  margin-bottom: 70px;
  background-color: #333;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #333;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input1 {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  background-color: #333;
  height: 100%;
}

.input1:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row > div > label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: #2d79f3;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  margin: 20px 0 10px 0;
  background-color: #151717;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #252728;
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #333;
  background-color: #333;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
  ;
}

.contact {
  text-align: center;
}